<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Amap de Lons - {% block title %} {{ section_title }} {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('frontend/css/login.css') }}">

</head>

<body id="login">

    <section>
        <div class="form_inscription">
            <div id="escargot"></div>

            {{ form_start(form, {'attr': {'class' : 'form_container'}}) }}
            {{ form_row(form.nom, {'label': 'Nom', 'attr' : {'class' : ''}}) }}
            {{ form_row(form.identifiant, {'label': 'Identifiant', 'attr' : {'class' : ''}}) }}
            {{ form_row(form.email, {'label': 'Adresse e-mail', 'attr' : {'class' : ''}}) }}
            {{ form_row(form.confirm_email, {'label': 'Confirmer votre e-mail', 'attr' : {'class' : ''}}) }}
            {{ form_row(form.password, {'label': 'Mot de passe', 'attr' : {'class' : ''}}) }}
            {{ form_row(form.confirm_password, {'label': 'Confirmer votre mot de passe', 'attr' : {'class' : ''}}) }}
            <button type="submit">Envoyer</button>
            {{ form_end(form) }}
        </div>
        
    </section>
    
    <footer></footer>

    {# <script src="{{ asset('frontend/js/inscription.js') }}"></script> #}
</body>

</html>