<!DOCTYPE html>

<head>
    <title>Nouvelle superCatégorie</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('/frontend/css/backend.css') }}">
   
    {% block stylesheets %}{% endblock %}
</head>



{% block body %}

    <div id="superCatShow">
    <h1>superCategorie</h1>

    <table class="table tableShow">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ super_categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ super_categorie.nom }}</td>
            </tr>
            <tr>
                <th>UrlImg</th>
                <td>{{ super_categorie.urlImg }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('super_categorie_index') }}">Retout à la liste</a>

    <a href="{{ path('super_categorie_edit', {'id': super_categorie.id}) }}">Modifier</a>

    {{ include('frontend/super_categorie/_delete_form.html.twig') }}
</div>
{% endblock %}
