<!DOCTYPE html>

<head>
        <title>Categorie index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ asset('/frontend/css/backend.css') }}">
       
        {% block stylesheets %}{% endblock %}
    </head>

{% block body %}

    <div id="catIndex">
    <h1>Categorie index</h1>

    <a href="{{ path('categorie_new') }}">Create new</a>

    <table class="table">
    
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>NbCheque</th>
                <th>NbChequeFixe</th>
                {# <th>Remarque</th> #}
                <th>Actif</th>
                <th>UrlImg</th>
                <th>DescriptionProduits</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.nom }}</td>
                <td>{{ categorie.nbCheque }}</td>
                <td>{{ categorie.nbChequeFixe ? 'Yes' : 'No' }}</td>
                {# <td>{{ categorie.remarque }}</td> #}
                <td>{{ categorie.actif ? 'Yes' : 'No' }}</td>
                <td>{{ categorie.urlImg }}</td>
                <td>{{ categorie.descriptionProduits }}</td>
                <td>
                    <a href="{{ path('categorie_show', {'id': categorie.id}) }}">show</a>
                    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
